.env
.env.local
.env.*.local


/vendor/


/node_modules/


/storage/*.key
/storage/*.log
/storage/framework/*
!storage/framework/.gitignore
/bootstrap/cache/*
!bootstrap/cache/.gitignore


/database/*.sqlite
/database/*.sqlite3
/database/*.log
/database/database.sqlite


*.log
*.cache
*.bak
*.swp


.DS_Store
Thumbs.db


.idea/
.vscode/
*.iml
